<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Báo cáo</title>
    <link rel="stylesheet" href="" />
    <link rel="stylesheet" href="" />
    <link rel="stylesheet" href="" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../js/code.jquery.com_jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../css/menu.css" />
    <link rel="stylesheet" href="../css/form.css" />
    <link rel="stylesheet" href="../css/button.css" />
    <link rel="stylesheet" href="../css/lapdonyeucau.css" />
    <link rel="stylesheet" href="../css/lapBaoCao.css" />
    <script type="module" defer src="../js/lapBaoCao.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h2>Xin chào, mừng bạn trở lại</h2>
        <div class="content__inner">
          <div class="data">
            <select name="" id="tieuchi">
              <option value="1">Nguyên liệu</option>
              <option value="2">Thành phẩm</option>
            </select>
          </div>
          <div class="graphBox">
            <div class="top">
              <div class="box">
                <canvas class="pieChart" id="top10"></canvas>
              </div>
              <div class="box">
                <canvas class="barChart" id="top10"></canvas>
              </div>
            </div>
            <div class="bottomGraph">
              <div class="box">
                <canvas class="lineChart" id="top10"></canvas>
              </div>
              <div class="box">
                <canvas class="pieChart2" id="top10"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
