<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phiếu xuất</title>
    <link rel="stylesheet" href="../css/menu.css" />
    <link rel="stylesheet" href="../css/overlay.css" />
    <link rel="stylesheet" href="../css/form.css" />
    <link rel="stylesheet" href="../css/button.css" />
    <link rel="stylesheet" href="../css/phanPhoiDonYeuCau.css" />
    <link rel="stylesheet" href="../css/phanPhoiDonXuat.css" />
    <link rel="stylesheet" href="../fontawesome-free-6.2.0-web/css/all.css" />
    <!-- <script defer type="module" src="../js/phieuXuat.js"></script> -->
    <script src="../FileSaver.js//dist/FileSaver.js"></script>

    <script src="../js/code.jquery.com_jquery-3.7.1.min.js"></script>
  </head>
  <body>
    <body>
      <div class="container">
        <div class ="menu">
          <div class="image"></div>
          <div class="nav">
            <ul>
            <div class="show">
                <li><p>Sản phẩm <i class="fa-solid fa-angle-down"></i></p></li>
                <ul class= "show__inner hiddenDiv">
                  <li><a href="nguyenLieu.html">Nguyên liệu</a></li>
                  <li><a href="thanhPham.html">Thành phẩm</a></li>
                </ul>
              </div>
              <div class="show">
                <li> <p>Phân phối <i class="fa-solid fa-angle-down"></i></p></li>
                <ul class="show__inner hiddenDiv">
                  <li><a href="phanPhoiDonYeuCauNhap.html">Đơn yêu cầu nhập</a></li>
                  <li><a href="phanPhoiDonYeuCauXuat.html">Đơn yêu cầu xuất</a></li>
                </ul>
              </div>
              <li><a href="phieuNhap.html">Phiếu nhập</a></li>
              <li><a href="phieuXuat.html">Phiếu xuất</a></li>
              <li><a href="bienBan.html">Biên bản</a></li>
              <li><a href="kho.html">Kho</a></li>
              <li><a href="capTaiKhoan.html">Cấp tài khoản</a></li>
              <li><a href="taiKhoan.html">Tài khoản</a></li>
            </ul>
          </div>
        </div>
        <div class="content">
          <a href="#"> <h3>Phiếu xuất</h3></a>
          <form class="search">
            <input type="text" name="search" id="search" />
            <button type="button">
              <i class="fa-solid fa-magnifying-glass" style="color: #1e5cc8"></i>
            </button>
          </form>
          <div class="content__inner">
            <table>
              <tr class="muc">
                <th>Mã đơn</th>
                <th>Tên phiếu</th>
                <th>Tên hàng</th>
                <th>Người lập</th>
                <th>Ngày lập</th>
                <th>Số lượng</th>
                <th>Hành động</th>
                <th>Kho</th>
              </tr>
              <tr>
                <td>15226345</td>
                <td>Phiếu xuất kho thành phẩm</td>
                <td>bánh mì</td>
                <td>20020001</td>
                <td>2024-05-27</td>
                <td>5 thùng</td>
                <td>đã xuất kho</td>
                <td>Thành phẩm 1</td>
              </tr>
            </table>
          </div>
        </div>
  
      </div>
      <div class="overlayDiv"></div>
    </body>
  </body>
</html>
